<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/home">
      <img src="https://thalia.nu/media/public/partners/logos/Quintor_Logo_1.jpg" width="100" height="35" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto" routerLinkActive="active">
        <li class="nav-item">
          <a class="nav-link" href="/home">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/create">Aanmaken</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/election-publish/">Publiceren</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/election-list/">Sluiten</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/elections">Resultaat bekijken</a>
          </li>
      </ul>
    </div>
  </nav>