<div class="modal-header">
    <div class="icon-box" style="margin: 0 auto">
        <i class="material-icons">error</i>
      </div>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body text-center">
    <h4>Let op!</h4>	
    <p>{{message}}</p>
    <button class="btn btn-success" (click)="confirmButton()">Ja</button>
    <button class="btn btn-danger" (click)="activeModal.dismiss()">Nee</button>
  </div>